/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* VARIABLES */
:root {
  /* colors */
  --primary-blue: hsl(220, 98%, 61%);
  --primary-gradient: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --background-body: hsl(230, 37%, 97%);
  --background-elements: hsl(0, 0%, 100%);
  --border-color: hsl(236, 33%, 92%);
  /*   --border-color: hsl(233, 11%, 84%); */
  --text-color: hsl(235, 19%, 35%);
  --text-color-hover: hsl(235, 19%, 35%);
  --text-color-disable: hsl(237, 12%, 71%);
  /* background images */
  --background-image-mobile: url("../images/bg-mobile-light.jpg");
  --background-image-desktop: url("../images/bg-desktop-light.jpg");
  /* border */
  --border-radius: 0.5rem;
  /* box-shadow */
  --box-shadow: 0 2rem 2rem hsla(0, 100%, 0%, 0.1);
}
/* Dark Theme variables */
[data-theme="dark"] {
  --background-body: hsl(235, 21%, 11%);
  --background-elements: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --text-color-hover: hsl(236, 33%, 92%);
  --text-color-disable: hsl(233, 14%, 35%);
  --border-color: hsl(237, 14%, 26%);
  /* background images */
  --background-image-mobile: url("../images/bg-mobile-dark.jpg");
  --background-image-desktop: url("../images/bg-desktop-dark.jpg");
  /* box-shadow */
  --box-shadow: 0 3rem 3rem hsla(0, 0%, 0%, 0.3);
}
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
}
/* GENERAL */
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  position: relative;
  background-image: var(--background-image-mobile);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: var(--background-body);
}
/* Media queries */
@media screen and (min-width: 768px) and (orientation: landscape),
  (min-width: 1024px) {
  body {
    background-image: var(--background-image-desktop);
    font-size: 1.6rem;
  }
}
/* HEADER */
.header {
  width: 90%;
  max-width: 54rem;
  margin: 0 auto;
  padding: 4.2rem 0 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__heading {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: hsl(230, 37%, 97%);
}
.header__icon {
  height: 2rem;
}
/* Media queries */
@media screen and (min-width: 1024px) {
  .header {
    padding: 7rem 0 4rem 0;
  }
  .header__heading {
    font-size: 4rem;
    letter-spacing: 14px;
  }
  .header__icon {
    height: 2.5rem;
  }
}
/* FORM */
.main {
  width: 90%;
  max-width: 54rem;
  margin: 0 auto;
}
.todo-form {
  position: relative;
}
.todo-form__input {
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  padding: 1.6rem 1.6rem 1.6rem 5rem;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: var(--background-elements);
  color: var(--text-color);
}
.todo-form__input::placeholder {
  color: var(--text-color-disable);
  font-size: 1.2rem;
}
.todo-form .border {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.todo-form__btn-submit {
  background-color: var(--background-elements);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
/* Media queries */
@media screen and (min-width: 768px) {
  .todo-form__input {
    font-size: 1.6rem;
  }
  .todo-form__input::placeholder {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .todo-form__input {
    padding: 2.4rem 2.4rem 2.4rem 7.3rem;
    font-size: 1.8rem;
  }
  .todo-form__input::placeholder {
    font-size: 1.8rem;
  }
  .todo-form__btn-submit {
    left: 2.4rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
/* TODO LIST */
.todo-list {
  margin-top: 1.6rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.todo-list__item {
  width: 100%;
  background-color: var(--background-elements);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 1px solid var(--border-color);
}
.border {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background-color: var(--border-color);
}
.border:hover {
  background-color: transparent;
  background-image: var(--primary-gradient);
}
.todo-list__btn-check {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--background-elements);
  cursor: pointer;
}
.todo-list__btn-check svg {
  display: none;
  margin: auto;
}
.todo-list__item.checked .todo-list__btn-check {
  background-image: var(--primary-gradient);
  border: none;
}
.todo-list__item.checked .todo-list__btn-check svg {
  display: block;
}
.todo-list__text {
  margin-right: auto;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.todo-list__item.completed .todo-list__text {
  text-decoration: line-through;
  color: var(--text-color-disable);
}
.todo-list__btn-remove {
  cursor: pointer;
}
.todo-list__btn-remove svg {
  height: 1.2rem;
  fill: var(--text-color);
}
/* Media queries */
@media screen and (min-width: 768px) {
  .todo-list__text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .todo-list {
    margin-top: 2rem;
  }
  .todo-list__item {
    padding: 2rem 2.4rem;
  }
  .todo-list__btn-check {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2.4rem;
  }
  .todo-list__text {
    font-size: 1.8rem;
  }
  .todo-list__btn-remove {
    opacity: 0;
    transition: opacity 300ms ease-in 100ms;
    visibility: hidden;
  }
  .todo-list__item:hover .todo-list__btn-remove {
    visibility: visible;
    opacity: 1;
  }
  .todo-list__btn-remove svg {
    height: 2rem;
  }
}
/* TODO MENU */
.todo-menu {
  position: relative;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-elements);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--box-shadow);
}
.todo-menu__itms-left,
#clear-completed {
  color: var(--text-color-disable);
  font-size: 1.2rem;
}
#clear-completed {
  cursor: pointer;
  font-family: inherit;
}
.todo-menu__filter {
  position: absolute;
  top: 6.2rem;
  left: 0;
  width: 100%;
  padding: 1.8rem;
  background-color: var(--background-elements);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.todo-menu__filter .btn-select {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  height: 1rem;
  color: var(--text-color-disable);
  cursor: pointer;
}
.todo-menu__filter .btn-select:not(:last-child) {
  margin-right: 2rem;
}
.todo-menu__filter .btn-select.active {
  color: var(--primary-blue);
}
.drag-info {
  margin-top: 11rem;
  text-align: center;
  color: var(--text-color-disable);
}
/* Media queries */
@media screen and (min-width: 1024px) {
  .todo-menu {
    padding: 2rem;
  }
  .todo-menu__itms-left,
  #clear-completed {
    font-size: 1.4rem;
  }
  .todo-menu__filter {
    position: initial;
    width: auto;
    padding: 0;
    border-radius: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .todo-menu__filter .btn-select:hover,
  #clear-completed:hover {
    color: var(--text-color-hover);
  }
  .drag-info {
    margin-top: 5rem;
    font-size: 1.4rem;
  }
}
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--text-color-disable);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
