.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--text-color-disable);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
